<div fxLayout="column">
  <div>
    <div class="search-parameters">
      <div class="box-divition" fxFlex="25">
        <h3>TUTOR TEACHES</h3>
        <p>
          English Language
        </p>
      </div>
      <div class="box-divition" fxFlex="25">
        <h3>PRICE</h3>
        <p>
         $1 - $40
        </p>
      </div>
      <div class="box-divition" fxFlex="35">
        <h3>COUNTRY OF BIRTH </h3>
        <p>
          Select
        </p>
      </div>
      <div class="box-divition" fxFlex="40">
        <h3>TUTOR IS AVAILABLE</h3>
        <p>
          Any Time
        </p>
      </div>
    </div>
    <div class="search-parameters rowmap" >
      <button mat-button [matMenuTriggerFor]="menu">Specially<mat-icon>keyboard_arrow_down</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menu">Tutor speak<mat-icon>keyboard_arrow_down</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menu">Native speaker<mat-icon>keyboard_arrow_down</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <span class="spacer"></span>

      <button mat-button [matMenuTriggerFor]="menu">Sort By relevance<mat-icon>keyboard_arrow_down</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

    </div>
    <!-- <h1>Find {{search}} <h4>{{totalresult}}</h4></h1> -->
    <div fxLayout="column" fxLayoutAlign="space-around start" class="results">
      <h1>Find English Tutor and Teacher - English Classes Online <span class="total-results">{{totalresult}} tutors</span></h1>
      <p>Want to communicate clearly with perfect pronunciation? Prepare to speak confidently with SoTutors!
         Get fast results with our qualified online English tutors. Get your online English classes with private tutors right now</p>
        <div fxLayout="row" fxLayoutAlign="space-around start">
          <div fxFlex="72">
            <div *ngFor="let item of items" class="tutors-overview">
              <app-tutors-overview [profile]=demoProfile></app-tutors-overview>
            </div>
          </div>
          <mat-card class="overview-mat-card">
            <div fxFlex="28" fxLayout="column" class="overview">
              <div>
                <iframe width="100%" [src]="demoProfile.videoUrl" frameborder="0" allow="autoplay; encrypted-media"
                  allowfullscreen>
                </iframe>
              </div>
              <div class="schedule" fxLayout="column">
                <button mat-raised-button class="timming">The timings are displayed in your local timezone</button>
                <div class="scheduler">
                  <app-schedule></app-schedule>
                </div>
                <button mat-button class="view-schedule">View full schedule</button>
              </div>

            </div>

          </mat-card>
        </div>
      </div>
    </div>
