.overview-mat-card{
  margin: 3% 0 3% 3%;
}

.tutors-overview{
  margin: 5% 0 2% 0;
  max-height: 400px;
}

.overview{
  max-width: 100% !important;
}

.schedule{
  button{
    margin: 5%;
  }
}

.scheduler{
  width: 80%;
}

.view-schedule {
  color: white;
  background-color: #448aff;
}


.timming {
  color: #448aff;
}

.box-divition{
  box-shadow: 0px 0px 8px 2px #e2e0d9 !important;
  border-width: 1px;
  padding: 0 5%;
}

.search-parameters{
  margin: 3% 3% 1% 3%;
}

.total-results{
  font-size: 15px;
  margin-left: 30px;
}
.spacer {
  flex: 1 1 auto;
}

.rowmap {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.results{
  background-color: #cfcfcf47;
  padding: 0 5%;
}
