
@import '~@angular/material/theming';
@import "../../assets/css/app-theme.scss";

.container{
    margin: 0 0 10% 0; 
    width: 65%;
    position: relative;  
    perspective: 800px;
    border-radius: 25px;
    box-shadow: 0 0 40px -8px;
    border-width: 1px;
    padding: 30px 70px;
}

.header{
    padding-left: 10%;
    padding-right: 5%;
    p{
        font-size: 12px;
        margin-top: 23px;
        color: cyan;
    }
    span{
        margin-top: 3.5%;
        margin-left: 1%;
    }
    a{
        color: cyan;
    }
}

.facebook-button{
    background-color: #3b5998;
    color:white;
    border-radius: 5px;
    padding-right: 25px;
    width: 250px;
    margin: 5px;
}

.google-button{
    background-color: mat-color($app-warn);
    color:white;
    border-radius: 5px;
    padding-right: 29px;
    width: 250px;
    margin: 5px;
}

.fa-facebook-square{
    font-size: 20px;
    margin: 2px 20px 0 -6px;
}

.fa-google{
    font-size: 20px;
    margin: 2px 20px 0 -23px;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    padding-top: 15px; 
}

.strike > span {
    position: relative;
    display: inline-block;
    font-size: 13px;
    opacity: 0.4;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 10000%;
    height: 1px;
    background: black;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.form-login {
margin: 2% 10% 0 10%;
 input{
    height: 30px;
    margin: 2% 0 0 2%;
    border-radius: 5px;
 }
}
.form-login1 {
    margin: 2% 10% 0 10%;
     input{
        height: 30px;
        margin: 2% 10% 0 2%;
        border-radius: 5px;
     }
    }

mat-checkbox{
    display: flex;
    margin: 2% 0 0 27%;
}

.login-button{
    margin: 2% 0 0 27%;
}
