
<app-question-bar fxLayoutAlign="end center" style="margin-top: 20%; float: right;"></app-question-bar>
<div fxLayoutAlign="center center" style="margin-top: 5%;">
    <mat-card class="container">
        <div fxLayout="row" class="header">
            <h3 fxFlex="60" i18n>LOG IN</h3>
            <p i18n>NEED AN ACCOUNT? <a routerLink="/signup">SIGN IN</a></p>
        </div>
        <hr style="width: 80%;">
        <div fxLayout="column" fxLayoutAlign="space-between center">
             <button mat-button class="facebook-button" (click)="signInWithFB()" i18n="@@facebook-button">
                 <mat-icon class="fa fa-facebook-square"></mat-icon>
                  LOG IN WITH FACEBOOK 
            </button>
            <button mat-button class="google-button" (click)="signInWithGoogle()" i18n="@@google-button">
                <mat-icon class="fa fa-google"></mat-icon>
                 LOG IN WITH GOOGLE 
           </button>
        </div>
        <div class="strike">
                <span i18n>OR</span>
        </div>
        <form #formLogin="ngForm">
        <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="center" class="form-login1">
                <h5 fxFlex="20" i18n>EMAIL</h5>
                <input fxFlex="80">
            </div>
            <div fxLayout="row" fxLayoutAlign="center" class="form-login">
                <h5 fxFlex="20" i18n="@@password">PASSWORD</h5>
                <input fxFlex="80" type="password">
                <h6><a routerLink="/recovery" i18n>FORGOT?</a></h6>
            </div>
        </div>
            <mat-checkbox name="checked" [(ngModel)]="checked" i18n>REMEMBER ME</mat-checkbox>
            
            <button class="login-button" color="warn" mat-raised-button i18n (click)="login()">LOGIN</button>
        </form>
    </mat-card>
</div>