.profile-tutor {
    margin: 5%;
}

.general-data {
    padding: 0 50px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 10px 0 0 20px;
    }
    p {
        font-size: 0.9em;
    }
}

.indicator {
    font-weight: bold;
}

.rate {
    margin-top: 35px;
}

.review {
    margin-top: 100px;
}

.review-list {
    margin: 5px 0;
}

.more-review {
    color: white;
    background-color: #448aff;
    font-size: 20px;
    padding: 2px;
}

.flag {
    width: 25px;
    vertical-align: bottom;
}

.bio-info {
    padding: 50px;
}

.tabs {
    margin: 15px 0 40px 0;
}

::ng-deep .mat-tab-label {
    font-size: 20px;
    padding: 0 !important;
    margin-left: 10px;
}

.divider {
    color: black;
    height: 2px;
    opacity: 0.4;
}

.description {
    margin-left: 50px;
    h4 {
        margin: 0;
    }
}

.lists {
    margin-left: 45px;
}

.date {
    color: #448aff;
    font-size: 17px;
}

.skills {
    margin: 15px 0;
}

.chips {
    margin: 25px 0;
}

.mat-chip:not(.mat-basic-chip) {
    background-color: #c5e8ed;
    font-size: 18px;
}

.btn-schedule {
    width: 50%;
    color: white;
    background-color: #448aff;
    font-size: 20px;
}

.schedule-description {
    color: #66a1a7;
    text-align: center;
    margin: 30px;
}

mat-card {
    margin: 25px 0;
    .tutor-description {
        font-size: 18px;
        white-space: pre-line;
    }
}

// .edit-icon {
//     margin-left: -40px;
//     min-width: 0 !important;
//     max-width: 40px;
//     max-height: 40px;
// }