<div class="profile-tutor" fxLayout="row">
    <div fxFlex="72">
        <!-- General Data -->
        <div class="general-data" fxLayout="row" fxLayoutAlign="space-around start">
            <div fxFlex="70" fxLayout="row">
                <img width="160px" height="200px" [src]="profile.img" alt="Profile of tutor">
                <div fxFlexAlign="end">
                    <h2>{{profile.name}} <span> <img class="flag" src="../../assets/usa_flag.png" alt="Country Flag"> </span></h2>
                    <h4>{{profile.city}}</h4>
                    <h5>&nbsp;</h5>
                    <p> <span class="indicator">Tutor in:</span> {{profile.tutorIn}}</p>
                    <p><span class="indicator">Speak in:</span> {{profile.speakIn}}</p>
                    <p><span class="indicator">{{profile.experience.lessons}}</span> Lessons - <span class="indicator">{{profile.experience.years}}</span> years experience</p>
                </div>
            </div>



            <div class="rate" fxFlex="30">
                <h1> ${{profile.payRate}} </h1>
                <h3 i18n> per hour </h3>
            </div>
            <div>
                <button mat-button class=" edit-icon"  *ngIf='edition' (click)='edit()'><i class="fa fa-pencil" aria-hidden="true"></i></button>
            </div>

        </div>

        <!-- Bio, Study and technical Info  -->

        <div class="bio-info">
            <mat-card>
                <mat-card-header>
                    <h1 class="title" i18n>About the tutor</h1>
                </mat-card-header>

                <mat-card-content>
                    <p class="tutor-description">
                        {{profile.tutorDescription}}
                    </p>
                    <mat-expansion-panel hideToggle="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title i18n>
                                +Read More
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Details of sotutors and sotutors pro</p>
                    </mat-expansion-panel>
                    <div class="tabs">
                        <mat-tab-group dynamicHeight="true">

                            <mat-tab i18n-label label="Education">
                                <div class="lists" *ngFor="let education of profile.educations">
                                    <hr class="divider">
                                    <div fxLayout="row">
                                        <p class="date">{{education.startYear}}-{{education.endYear}}</p>
                                        <div class="description">
                                            <h4>{{education.title}}</h4>
                                            <p>{{education.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>


                            <mat-tab i18n-label label="Work experience">

                                <div *ngFor="let experience of profile.workExperiences">
                                    <hr class="divider">
                                    <div fxLayout="row">
                                        <p class="date">{{experience.startYear}}-{{experience.endYear}}</p>
                                        <div class="description">
                                            <h4>{{experience.title}}</h4>
                                            <p>{{experience.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>


                            <mat-tab i18n-label label="Certifications">                                
                                <div *ngFor="let certificate of profile.certifications">
                                    <hr class="divider">
                                    <div fxLayout="row">
                                        <div class="description">
                                            <h4>{{certificate}}</h4>
                                        </div>
                                    </div>
                                </div></mat-tab>


                        </mat-tab-group>
                    </div>
                </mat-card-content>
            </mat-card>


            <!-- VIDEO -->
            <iframe width="100%" height="400" [src]="profile.videoUrl" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
            </iframe>

            <!-- Skills and Test -->
            <mat-card>
                <mat-card-content>
                    <div class="skills">

                        <mat-tab-group>
                            <mat-tab label="Skills">
                                <div class="chips">
                                    <mat-chip-list *ngIf="!editable">
                                        <mat-chip>Laboral</mat-chip>
                                        <mat-chip>Legal</mat-chip>
                                        <mat-chip>Notary</mat-chip>
                                    </mat-chip-list>

                                    <mat-chip-list *ngIf="editable" #chipList>
                                        <mat-chip *ngFor="let skill of profile.skills" [selectable]="selectable" [removable]="removable" (remove)="remove(skill)">
                                            {{skill.name}}
                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                        </mat-chip>
                                        <input placeholder="New skill..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" />
                                    </mat-chip-list>
                                </div>
                            </mat-tab>
                            <mat-tab label="Tests">
                                <div class="chips">
                                    <mat-chip-list *ngIf="!editable">
                                        <mat-chip>Laboral</mat-chip>
                                        <mat-chip>Legal</mat-chip>
                                        <mat-chip>Notary</mat-chip>
                                    </mat-chip-list>

                                    <mat-chip-list *ngIf="editable" #chipList>
                                        <mat-chip *ngFor="let skill of profile.skills" [selectable]="selectable" [removable]="removable" (remove)="remove(skill)">
                                            {{skill.name}}
                                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                        </mat-chip>
                                        <input placeholder="New skill..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" />
                                    </mat-chip-list>
                                </div>
                            </mat-tab>
                        </mat-tab-group>

                    </div>

                </mat-card-content>
            </mat-card>
            <!-- Scheduler -->
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h1>Schedule</h1>
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <hr style="opacity: 0.5;">

                    <h4 class="schedule-description">Choose the time for your first lesson. The timings are displayed in your local timezone</h4>
                    <div>
                        <app-schedule></app-schedule>
                    </div>
                </mat-card-content>
                <mat-card-actions fxLayout="column" fxLayoutAlign="space-around center">
                    <button mat-button class="btn-schedule">View Schedule</button>
                </mat-card-actions>
            </mat-card>

        </div>

    </div>

    <div class="review" fxFlex="28" fxLayout="column" *ngIf="!edition">
        <!-- General Review -->
        <div>
            <app-rate></app-rate>
        </div>
        <!-- Reviews List -->
        <div class="review-list" *ngFor="let review of profile.reviews">
            <app-short-review [review]="review"></app-short-review>
        </div>
        <button mat-button class="more-review">More Review</button>
    </div>

</div>