.header {
    margin-bottom: 20px;
}

.back,
.foward {
    min-width: 45px !important;
    padding: 0;
    font-size: 30px;
    height: 50px;
}

.time-range {
    color: #66a1a7;
    margin: auto 44% auto 10%;
}

.bar {
    width: auto;
    height: 5px;
    background-color: #66a1a7;
    // border-radius: 20px;
}

.day-column {
    margin: 0 10px;
    width: 12%;
    text-align: -webkit-center;
    text-align: center;
    h4 {
        margin: 0;
    }
    .day {
        opacity: 0.5;
        margin: 10px;
    }
}