<div fxLayout="column">
    <div class="header" fxLayout="row">
        <div class="btn-period">
            <button mat-raised-button class="back" (click)="beforeWeek()"><i class="fa fa-angle-left"></i>
            </button>
            <button mat-raised-button class="foward" (click)="nextWeek()"><i class="fa fa-angle-right"></i>
            </button>
        </div>
        <p class="time-range">{{ range| date:'MMMdd' }}-{{plusDays(6) | date:'dd'}} , {{ range| date:'yyyy' }} </p>
        <div class="time-set">
            <mat-form-field>
                <mat-select [(value)]="timeutc[0]">
                    <mat-option *ngFor="let time of timeutc" [value]="time">
                        {{ time }}
                    </mat-option>
                </mat-select>

            </mat-form-field>
        </div>
    </div>
    <div class="table" fxLayout="row">
        <!-- Monday -->
        <div class="day-column">
            <div class="bar"></div>
            <h4 class="day">Mon</h4>
            <h4>{{ plusDays(0)| date:'dd' }}</h4>
            <p *ngFor="let hour of timesMond;let i=index;">{{ hour.setTime((i/2) * 60 * 60 * 1000) | date:'hh:mm' }} </p>

        </div>

        <!-- Tuesday -->
        <div class="day-column">
            <div class="bar"></div>
            <h4 class="day">Tue</h4>
            <h4>{{ plusDays(1)| date:'dd' }}</h4>
            <p *ngFor="let hour of timesTues;let i=index;">{{ hour.setTime((i/2) * 60 * 60 * 1000) | date:'hh:mm' }} </p>
        </div>

        <!-- Wednesday -->
        <div class="day-column">
            <div class="bar"></div>
            <h4 class="day">Wed</h4>
            <h4>{{ plusDays(2)| date:'dd' }}</h4>
            <p *ngFor="let hour of timesWed;let i=index;">{{ hour.setTime((i+1/2) * 60 * 60 * 1000) | date:'hh:mm' }} </p>
        </div>

        <!-- Thursday -->
        <div class="day-column">
            <div class="bar"></div>
            <h4 class="day">Thu</h4>
            <h4>{{ plusDays(3)| date:'dd' }}</h4>
            <p *ngFor="let hour of timesThur;let i=index;">{{ hour.setTime((i/2) * 60 * 60 * 1000) | date:'hh:mm' }} </p>
        </div>

        <!-- Friday -->
        <div class="day-column">
            <div class="bar"></div>
            <h4 class="day">Fri</h4>
            <h4>{{ plusDays(4)| date:'dd' }}</h4>
            <p *ngFor="let hour of timesFri;let i=index;">{{ hour.setTime((i/2) * 60 * 60 * 1000) | date:'hh:mm' }} </p>
        </div>

        <!-- Saturday -->
        <div class="day-column">
            <div class="bar"></div>
            <h4 class="day">Sat</h4>
            <h4>{{ plusDays(5)| date:'dd' }}</h4>
            <p *ngFor="let hour of timesSat;let i=index;">{{ hour.setTime((i/2) * 60 * 60 * 1000) | date:'hh:mm' }} </p>
        </div>

        <!-- Sunday -->
        <div class="day-column">
            <div class="bar"></div>
            <h4 class="day">Sun</h4>
            <h4>{{ plusDays(6)| date:'dd' }}</h4>
            <p *ngFor="let hour of timesSun;let i=index;">{{ hour.setTime((i/2) * 60 * 60 * 1000) | date:'hh:mm' }} </p>
        </div>
    </div>
</div>