<div class="mat-tools">
        <div class="mat-search" fxFlex="100">
          <input #searchTerm class="mat-block" placeholder="WHAT ARE YOU LOOKING FOR?" i18n-placeholder>
          <button mat-raised-button matSuffix color="primary" routerLink="/search-result">
            FIND
          </button>
        </div>
</div>
