@import '~@angular/material/_theming';
@import "../../../assets/css/app-theme.scss";

.mat-tools{
    margin: 2% 0 15% 0;
}

.mat-search {
    padding-top: 10px;
    display: inline-flex;
    margin-left: 5%;
  }

.mat-block {
    font-size: 15px;
    width: 30%;
    height: 45px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;

}

.mat-search button {
    width: 10%;
    background-color: mat-color($app-primary);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.mat-search button:hover {
    width: 10%;
    background-color: mat-color($app-primary);
    opacity:0.7;
}

.mat-search button:focus {
    width: 10%;
    background-color: mat-color($app-primary);
}


