<div>
  <mat-card class="primary-card">
    
    <mat-card-title i18n>
      Profile
    </mat-card-title>
    
    <hr>

    <mat-card-container>

      <!-- Form Account -->
      <form #formProfile="ngForm" class="form-account">
        <div fxLayout="row">
          <h5 i18n>PROFILE IMAGE</h5> <img width="200" alt="Profile Image" src="../../assets/account.png" align="top">
          <div>
              <button mat-raised-button color="accent" i18n="@@upload-image">+ UPLOAD IMAGE</button>
              <h5 style="opacity: 0.5;" i18n>MAXIMUN SIZE 2MB, JPG OR PNG FORMAT</h5>
          </div>
        </div>
        
        <!-- Inputs -->
        <!-- First Name Input -->
        <div fxLayout="row" fxLayoutAlign="center" class="form-div-input">
            <h5 fxFlex="20" i18n>FIRST NAME</h5>
            <input fxFlex="80">
        </div>

        <!-- Last Name Input -->
        <div fxLayout="row" fxLayoutAlign="center" class="form-div-input">
            <h5 fxFlex="20" i18n>LAST NAME</h5>
            <input fxFlex="80">
        </div>

        <!-- Email Input -->
        <div fxLayout="row" fxLayoutAlign="center" class="form-div-input">
            <h5 fxFlex="20" i18n>EMAIL</h5>
           <div fxLayout="column" fxFlex="80">
            <input >
            <h5 style="opacity: 0.5;" i18n>YOUR EMAIL IS PRIVATE, YOU MUST ACTIVATE YOUR EMAIL ADDRESS BEFORE MAKING OFFERS
                <a routerLink="/activatelink">RESEND ACTIVATION LINK</a>
              </h5>
          </div> 
        </div>

        <!-- Skype Name Input -->
        <div fxLayout="row" fxLayoutAlign="center" class="form-div-input">
            <h5 fxFlex="20" i18n>SKYPE NAME</h5>
           <div fxLayout="column" fxFlex="80">
            <input>
            <h5 style="opacity: 0.5;" i18n>YOUR SKYPE NAME WILL ONLY BE VISIBLE TO YOUR TUTOR
            </h5>
          </div> 
        </div>

        <!-- Time Zone Input -->
        <div fxLayout="row" fxLayoutAlign="center" class="form-div-input">
            <h5 fxFlex="20" i18n>TIME ZONE</h5>
           <div fxLayout="column" fxFlex="80">
            <input>
            <h5 style="opacity: 0.5;" i18n>CHOOSE YOUR TIME ZONE TO SYNCHRONIZE WITH A TUTOR
              </h5>
          </div> 
        </div>
        <mat-slide-toggle labelPosition="before" color="warn"><h5 i18n>SMS NOTIFICATIONS</h5></mat-slide-toggle>

        <!-- Buttons -->
          
        <div fxLayout="row" class="account-buttons">
            <div fxFlex="20">
              <button mat-raised-button color="primary" i18n>SAVE</button>
            </div>
            <div fxFlex="50" fxLayout="row" >
                <mat-icon style="margin-top:17px;">delete_forever</mat-icon>
                <h5><a href="/" i18n>DELETE ACCOUNT</a></h5>
              </div>  
            </div>
      </form>

    </mat-card-container>

  </mat-card>
</div>