.form-div-input {
    margin: 2% 10% 0 0;
     input{
        height: 30px;
        margin: 2% 10% 0 2%;
        border-radius: 5px;
     }
}

.primary-card{
    padding: 24px 0 50px 0;
    border-radius: 10px;
    margin: 5% 0 20% 0;
    
    .mat-card-title{
        margin-left: 4%;
    }
}

.form-account{
    margin: 7% 0 7% 12%;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 1px -1px 20px -2px rgba(0,0,0,.2), 1px 0px 15px 0 rgba(0,0,0,.14), 1px 1px 20px 0 rgba(0,0,0,.12);
}

::ng-deep .mat-slide-toggle-content {
    margin-right: 10px;
}

.account-buttons{
    margin-top: 7%;
}