 .first-card{
    width: 70%; 
    margin: auto;
    margin-top: 5%;
    margin-bottom: 20%;
    border-radius: 10px;
    box-shadow: 0 0 5px 0;
    mat-card-title{
        margin: -5% 15px 0 15px;
        h4{
            margin-bottom: 15px;
        }
    }
}

.first-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 80px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 2px 5px 0 rgba(0,0,0,.12);
}

.message-card{
    width: 70%; 
    margin: auto;
    margin-top: 0.5%;
    margin-bottom: 20%;
    border-radius: 10px;
    box-shadow: 0 0 5px 0;
}

.message-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 30px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 2px 5px 0 rgba(0,0,0,.12);
}
.mat-table{
    margin-bottom: 25px;
}

.mat-header-cell{
    font-size: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}
  
.mat-table {
    overflow: auto;
    max-height: 500px;
}

.tutor-image{
    border-radius: 50px;
    width: 20%;
    height: 5%;
}

.check-icon{
    font-size: 25px;
}
.tutors{
    max-width: 20%;
}

.tutors-cell{
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
}


.message{
    max-width: 60%;
}

.date{
    max-width: 10%;
}

.actions{
    max-width: 10%;
}