<div>
    <app-question-bar fxLayoutAlign="end center"></app-question-bar> 
  <mat-card class="first-card">
    <mat-card-title>
      <h4 i18n>MY REQUESTS</h4>
      <hr>
    </mat-card-title>

        <div class="container">
            <mat-table #table [dataSource]="dataSource">
          
              <!-- Tutor Column -->
              <ng-container matColumnDef="tutor">
                <mat-header-cell *matHeaderCellDef i18n class="tutors"> TUTORS </mat-header-cell>
                <mat-cell *matCellDef="let element" class="tutors tutors-cell"> 
                    <i *ngIf="element.check" class="fa fa-check-circle check-icon" aria-hidden="true"></i>
                    <mat-icon *ngIf="!element.check" class="help-icon">help</mat-icon>
                    <img src="{{element.image}}" alt="tutor image" class="tutor-image" (click)="click()">
                    <span>{{element.tutor}}</span>
                </mat-cell>
              </ng-container>
          
              <!-- Message Column -->
              <ng-container matColumnDef="message">
                <mat-header-cell *matHeaderCellDef i18n="@@mesage" class="message"> MESSAGE </mat-header-cell>
                <mat-cell *matCellDef="let element" class="message"> {{element.message}} </mat-cell>
              </ng-container>
          
              <!-- Date Column -->
              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef i18n="@@date" class="date"> DATE </mat-header-cell>
                <mat-cell *matCellDef="let element"  class="date"> {{element.date | date: 'dd MMM yyyy'}} </mat-cell>
              </ng-container>

              <!-- Actions Column -->
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef i18n="@@actions" class="actions"> ACTIONS </mat-header-cell>
                <mat-cell *matCellDef="let element" class="actions"> {{element.action}} </mat-cell>
              </ng-container>
                    
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
          <mat-card-footer *ngIf="dataSource.data.length <= 0">
              <h5 style="margin-left: 5%;" i18n>YOU DO NOT HAVE A REQUESTS IN THIS SECTION</h5>
          </mat-card-footer> 

  </mat-card>

</div>
