<div>
  <mat-horizontal-stepper [linear]="false" #stepper class="mat-stepper">

    <!--General Information Form step-->
    <mat-step [stepControl]="generalFormGroup">
      <form [formGroup]="generalFormGroup">
        <ng-template matStepLabel i18n>GENERAL INFORMATION</ng-template>
        <h3 i18n>GENERAL INFORMATION:</h3>

        <div fxLayout="row" fxLayoutGap="20px">
            <div>
              <h5 class="photo-label" i18n>PHOTO</h5>
              <br>
              <img width="200" height="200" alt="Profile Image" [src]="accountImgPath()" align="top">

            </div>
            <div>
                <input  mat-raised-button style="display: none;"color="accent" #file (change)="fileChange($event)"
                type="file" accept=".png,.jpg,.jpeg">
                <button mat-raised-button color="accent" i18n="@@upload-image"
                (click)="file.click()">
                 + UPLOAD IMAGE
                </button>
                <h5 style="opacity: 0.5;" i18n>Please use a portrait photo,<br/> profiles without photo will not be<br/> approved.Maximun Size 2MB</h5>
            </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center start">
          <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="60px">
            <h4 i18n class="label">Gender:</h4>
            <mat-form-field>
                <mat-select placeholder="Gender:" formControlName="genderCtrl" >
                  <mat-option *ngFor="let gender of genders" [value]="gender">
                    {{ gender }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
              <h4 i18n class="label">First Name:</h4>
              <mat-form-field>
                  <input matInput placeholder="First name:" formControlName="firstNCtrl">
              </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">
            <h4 i18n class="label">Last Name:</h4>
            <mat-form-field>
                <input matInput placeholder="Last name:" formControlName="lastNCtrl" >
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="50px">
              <h4 i18n class="label">Country:</h4>
              <mat-form-field>
                  <mat-select placeholder="Country:" formControlName="countryCtrl" >
                    <mat-option *ngFor="let country of countrys" [value]="country">
                      {{ country }}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="40px">
              <h4 i18n class="label">Language:</h4>
              <mat-form-field>
                <mat-select placeholder="Language:" formControlName="languageCtrl" >
                  <mat-option *ngFor="let language of languages" [value]="language">
                    {{ language }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="50px">
              <h4 i18n class="label">Birthday:</h4>
              <mat-form-field>
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Birthday"
                formControlName="birthCtrl">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center start">
              <h4 i18n class="label">Phone Number:</h4>
              <mat-form-field>
                  <input matInput placeholder="Phone Number" formControlName="phoneCtrl" >
              </mat-form-field>
          </div>
        </div>

<!-- Button -->
        <div class="step-buttons">

          <span class="spacer"></span>
          
          <button mat-raised-button color="primary" (click)="next()" matStepperNext i18n="@@next">Next</button>

        </div>
      </form>
    </mat-step>

    <!--Profile Description Form step-->
    <mat-step [stepControl]="profileFormGroup">
      <form [formGroup]="profileFormGroup">
        <ng-template matStepLabel i18n>PROFILE DESCRIPTION</ng-template>

        <h3 i18n>PROFILE DESCRIPTION:</h3>

        <div fxLayout="column" fxLayoutAlign="center start">
          <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
            <h4 i18n class="label">Language:</h4>
            <mat-form-field>
              <mat-select placeholder="Language:" formControlName="languageCtrl" >
                <mat-option *ngFor="let language of languages" [value]="language">
                  {{ language }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="58px">
            <h4 i18n class="label">Title:</h4>  
            <mat-form-field style="width: 60%;">
                <input matInput placeholder="Title:" formControlName="titleCtrl" >
                <mat-hint align="end"><strong i18n>Ej: Ing, Master, Scrum, Lic.tutor with 6 years exp.</strong> </mat-hint>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center start">
            <h4 i18n class="label">Description:</h4> 
            <mat-form-field style="width: 475px;">
                <textarea class="description" height ="100" matInput placeholder="-"></textarea>
                <mat-hint align="start">
                  <strong i18n>
                    Help to know you better. Tell About yourself, experience, methods etc.
                  </strong>
                </mat-hint>
              </mat-form-field>
          </div>
        </div>

        <!-- Buttons -->
        <div class="step-buttons">
           
          <button mat-raised-button color="primary" (click)="back()" matStepperPrevious i18n="@@back">Back</button>

          <span class="spacer"></span>

          <button mat-raised-button color="primary" (click)="next()" matStepperNext i18n="@@next">Next</button>

        </div>
      </form>
    </mat-step>

    <!--Subjects Form step-->
    <mat-step [stepControl]="subjectsFormGroup">
      <form [formGroup]="subjectsFormGroup">
        <ng-template matStepLabel i18n>SUBJECTS</ng-template>

        <h3 i18n>SUBJECTS:</h3>
        <div fxLayout="row">
          <h4 i18n class="label">Tutoring Area:</h4>  
          <mat-form-field>
              <mat-select placeholder="Tutoring Area:" formControlName="tutoringAreaCtrl" >
                <mat-option *ngFor="let area of tutoringAreas" [value]="area">
                  {{ area }}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
         <!-- Buttons -->
         <div class="step-buttons">
           
            <button mat-raised-button color="primary" (click)="back()" matStepperPrevious i18n="@@back">Back</button>
  
            <span class="spacer"></span>
  
            <button mat-raised-button color="primary" (click)="next()" matStepperNext i18n="@@next">Next</button>
  
          </div>
      </form>
    </mat-step>

    <!--About Tutor Form step-->
    <mat-step [stepControl]="aboutTutorFormGroup">
      <form [formGroup]="aboutTutorFormGroup">
        <ng-template matStepLabel i18n>ABOUT THE TUTOR</ng-template>

        <h3 i18n>ABOUT TUTOR:</h3>

        <div fxLayout="column" fxLayoutAlign="center start">
          
          <div fxLayout="row" fxLayoutAlign="center start">
            <h4 i18n class="label">Experience Years:</h4> 
            <mat-form-field>
              <input matInput type="number" placeholder="Experience in Years:" formControlName="experienceCtrl" step="1" min="0">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start">
            <h4 i18n class="label">Skype Name:</h4> 
            <mat-form-field style="width: 40%;">
                <input matInput placeholder="Skype Name:" formControlName="skypeCtrl" >
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center start">
            <h4 i18n class="label">Time Zone:</h4> 
            <mat-form-field>
                <mat-select placeholder="Time Zone:" formControlName="timeZoneCtrl" >
                  <mat-option *ngFor="let zone of timeZones" [value]="zone">
                    {{ zone }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="100px">

            <h4 i18n>Group Lessons:</h4>

            <mat-radio-group formControlName="groupLessonCtrl">
                <mat-radio-button value="yes" i18n>Yes</mat-radio-button>
                <mat-radio-button value="no" i18n>No</mat-radio-button>
            </mat-radio-group>

          </div>
          <div fxLayout="row" fxLayoutAlign="center start">
            <h4 i18n class="label">Hourly Rate in Dollars:</h4> 
            <mat-form-field>
                <input matInput type="number" placeholder="Hourly Rate in Dollars:" formControlName="hourRateCtrl" step="1" min="0">
            </mat-form-field>
          </div>
        </div>

        <!-- Buttons -->
        <div class="step-buttons">
           
          <button mat-raised-button color="primary" (click)="back()" matStepperPrevious i18n="@@back">Back</button>

          <span class="spacer"></span>

          <button mat-raised-button color="primary" (click)="next()" matStepperNext i18n="@@next">Next</button>

        </div>
      </form>
    </mat-step>


    <!--Resume Form step-->

    <mat-step [stepControl]="resumeFormGroup">
      <form [formGroup]="resumeFormGroup">

        <ng-template matStepLabel i18n>RESUME</ng-template>

        <h3 i18n>RESUME:</h3>

        <div fxLayout="column" fxLayoutAlign="center start">

          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="35px">
            <h4 i18n class="label">Video Introduction:</h4>
            <mat-form-field style="width: 450px;">
              <input matInput placeholder="Video Introduction:" formControlName="videoCtrl">
              <mat-hint align="start">
                  <strong i18n>
                      Paste the URL to your Youtube/Vimeo video
                  </strong>
                </mat-hint>
            </mat-form-field>
          </div>
            
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="30px">
            <h4 i18n class="label">University / College:</h4>
            <mat-form-field style="width: 450px;">
                <input matInput placeholder="University / College:" formControlName="instituteCtrl">
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="120px">
            <h4 i18n class="label">Degree:</h4>      
            <mat-form-field>
                <input matInput placeholder="Degree:" formControlName="degreeCtrl">
            </mat-form-field>
          </div>

          <div fxLayout="column">
              <h4 i18n>Certifications</h4>
            <ng-container *ngFor="let certificate of certificates; let i = index" [attr.data-index]="i">
              <p> {{certificate}}</p>
            </ng-container>
          </div>
          
          <div fxLayout="row"  fxLayoutAlign="center start" fxLayoutGap="77px">
            <h4 i18n class="label">Certification:</h4>  
            <mat-form-field>
                <input matInput placeholder="Certification:" formControlName="certificateCtrl">
            </mat-form-field>
            <button mat-raised-button color="primary" class="add-buttons" (click)="addCertification()">+</button>
            <p i18n> Add more Certifications</p>
          </div>


          <div fxLayout="column">
            <ng-container *ngFor="let job of jobs; let i = index" [attr.data-index]="i">
              <h4 i18n>Job History</h4>
              <h5># {{i + 1}} </h5>
              <div fxLayout="row">
                <h5 i18n>Company: </h5><p style="margin: 20px 0 0 20px;"> {{job.company}}</p>
              </div>
              <div fxLayout="row">
                <h5 i18n>Position: </h5><p style="margin: 20px 0 0 20px;"> {{job.position}}</p>
              </div>
              <div fxLayout="row"> 
                <h5 i18n>Start Time: </h5><p style="margin: 20px 0 0 20px;"> {{job.startTime | date:'shortDate' }}</p>
              </div>
              <div fxLayout="row"> 
                <h5 i18n>End Time: </h5> <p style="margin: 20px 0 0 20px;"> {{job.endTime | date:'shortDate'}}</p>
              </div>
            </ng-container>
          </div>

            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row"  fxLayoutAlign="center start" fxLayoutGap="100px">
                    <h4 i18n class="label">Company:</h4>  
                    <mat-form-field>
                        <input matInput placeholder="Company:" formControlName="jobCompanyCtrl">
                    </mat-form-field>
                  </div>
                <div fxLayout="row"  fxLayoutAlign="center start" fxLayoutGap="100px">
                    <h4 i18n class="label">Position:</h4>  
                    <mat-form-field>
                        <input matInput placeholder="Position:" formControlName="jobPositionCtrl">
                    </mat-form-field>
                </div>
            <div fxLayout="row" fxLayoutAlign="center start">

              <h4 i18n>Period of Employment:  </h4>

                <mat-form-field>
                    <input matInput [matDatepicker]="picker1" placeholder="Start Date" formControlName="jobStartCtrl">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <h4> - </h4>

                <mat-form-field>
                    <input matInput [matDatepicker]="picker2" placeholder="End Date"
                    formControlName="jobEndCtrl">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-checkbox style="margin-top: 25px" (click)="toggleEndDate()" i18n>Nowadays</mat-checkbox>
                
                <div fxLayout="row" style="margin: 10px 0 0 15px;">

                    <button mat-raised-button class="add-buttons" color="primary" (click)="addJobs()">+</button>
      
                    <p i18n> Add more Jobs</p>
      
                  </div>
            </div>

           

          </div>

        </div>

        <!-- Buttons  -->
        <div class="step-buttons">

          <button mat-raised-button color="primary" (click)="back()" matStepperPrevious i18n="@@back">Back</button>

          <span class="spacer"></span>

          <button mat-raised-button color="primary" (click)="watchResult()" i18n>Finish Registration</button>

        </div>

      </form>

    </mat-step>

  </mat-horizontal-stepper> 

</div>
