@import '~@angular/material/_theming';
@import "../../assets/css/app-theme.scss";

::ng-deep .mat-stepper-horizontal-line {
    border-top-color: rgba(0, 0, 0, 0);
}

::ng-deep .mat-horizontal-stepper-header-container{
    padding: 0 150px;
    background-color: mat-color($app-primary); 
    height: 60px;
}

::ng-deep .mat-step-header .mat-step-icon{
    opacity: 0;
}

::ng-deep .mat-step-header .mat-step-icon-not-touched {
    opacity: 0;
}

::ng-deep .mat-step-label-selected{
    color: white !important;
    text-decoration: underline;
}

.mat-stepper{
    min-height: 600px;
}

.photo-label{
    font-size: 16px;
    margin-top: 0;
}

.label{
    margin-bottom: 0;
    margin-top: 30px;
}

form{
    margin: 40px 200px 50px 200px;
}

::ng-deep .mat-horizontal-stepper-header{
    height: 60px !important;
    padding: 0 25px 0 0 !important;
  }

.mat-form-field{
    margin: 10px 25px;
}

.mat-radio-button {
    margin: 20px 10px;
}

.add-buttons{
    min-width: 0;
    max-height: 40px;
    margin-right: 30px;
    margin-top: 7px;
}

.spacer {
    margin-left: 50%;
  }

.step-buttons{
    margin-top: 60px;
  }

  .description{
        height: 200px;
  }
