
<app-question-bar fxLayoutAlign="end center" style="margin-top: 20%; float: right;"></app-question-bar>
<div fxLayoutAlign="center center" style="margin-top: 5%;">
    <mat-card class="container">
        <div fxLayout="row" class="header">
            <h3 fxFlex="60" i18n>Sign up as a student</h3>
            <p i18n>ALREADY HAVE AN ACCOUNT? <a routerLink="/login">LOG IN</a></p>
        </div>
        <hr style="width: 80%;">
        <div fxLayout="column" fxLayoutAlign="space-between center">
             <button mat-button class="facebook-button" i18n>
                 <mat-icon class="fa fa-facebook-square"></mat-icon>
                  SIGN UP WITH FACEBOOK 
            </button>
            <button mat-button class="google-button" (click)="signInWithGoogle()" i18n>
                <mat-icon class="fa fa-google"></mat-icon>
                SIGN UP WITH GOOGLE 
           </button>
        </div>
        <div class="strike">
                <span i18n>OR</span>
        </div>
        <form #formSingup="ngForm">
            <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="center" class="form-signup1">
                    <h5 fxFlex="20" i18n>EMAIL</h5>
                    <input fxFlex="80">
                </div>
                <div fxLayout="row" fxLayoutAlign="center" class="form-signup">
                    <h5 fxFlex="20" i18n="@@password">PASSWORD</h5>
                    <input fxFlex="80" type="password">
                </div>
                <div fxLayout="row" fxLayoutAlign="center" class="form-signup">
                    <h5 fxFlex="20" i18n>CONFIRM PASSWORD</h5>
                    <input fxFlex="80" type="password">
                </div>
            </div>
                <button class="signup-button" mat-raised-button color="warn" i18n>SIGN UP</button>
        </form>
    </mat-card>
</div>