<mat-card>
    <mat-card-header>
        <mat-card-title>Rate</mat-card-title><span>{{generalRate}} </span><span><mat-icon>star</mat-icon></span>
    </mat-card-header>

    <mat-card-content>
        <div *ngFor="let skill of skills; let i=index" class="skill-rate" fxLayout="row">
            <p>{{skill.name}}</p>
            <span class="space"></span>
            <mat-icon *ngFor="let star of stars[i]">star</mat-icon>

        </div>
    </mat-card-content>
    <mat-card-actions fxLayout="column">
        <button mat-button class="book-tutorial">Book tutorial</button>
        <button mat-button class="send-message">Send a message</button>
    </mat-card-actions>
</mat-card>