.mat-card-header {
    justify-content: center;
}

.mat-card-title {
    font-size: 25px;
    font-weight: bold;
}

.mat-card-header {
    span:first-of-type {
        color: #448aff;
        font-size: 25px;
    }
    .mat-icon {
        padding-top: 3px;
        color: #448aff;
        font-size: 25px;
    }
}

.skill-rate {
    height: 30px;
    .mat-icon {
        margin-top: 10px;
        color: #448aff;
    }
    .space {
        flex: 1 1 auto;
    }
}

.book-tutorial {
    color: white;
    background-color: #448aff;
}

.send-message {
    color: #448aff;
}

.mat-button {
    font-size: 18px;
    margin: 5px !important;
    border: solid 1px;
}