.short-review-card {
    max-width: 400px;
    padding: 10px;
}

.img-card {
    margin-right: 15px;
}

.stars {
    width: 10%;
    color: #448aff;
}

.mat-card-title:not(.mat-icon) {
    font-size: 20px !important;
}

.short-review-header-image {
    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    width: 80px;
    height: 80px;
}