<mat-card class="short-review-card" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="img-card">
        <div mat-card-avatar [ngStyle]="{'background-image': 'url('+ review.image +')'}" class="short-review-header-image"></div>
    </div>
    <div fxLayout="column">
        <mat-card-header>
            <mat-card-title>Review {{reviewFixed}}
                <mat-icon *ngFor="let star of stars" class="stars">star</mat-icon>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{review.comment}}
            </p>
        </mat-card-content>
    </div>
</mat-card>