@import '~@angular/material/theming';
@import '~font-awesome/css/font-awesome.min.css';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();
// Define the default theme (same as the example above).
$app-accent: mat-palette($mat-orange);
$app-primary : mat-palette($mat-blue, A200, A100, A400);
$app-primary-dark : mat-palette($mat-blue, 700);
$app-primary-darker : mat-palette($mat-blue, 900);
$app-warn : mat-palette($mat-red);
$app-theme : mat-light-theme($app-primary, $app-accent, $app-warn);
// Include the default theme styles.
@include angular-material-theme($app-theme);
// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent : mat-palette($mat-amber, A200, A100, A400);
$dark-warn : mat-palette($mat-pink);
$dark-theme : mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.unicorn-dark-theme {
    @include angular-material-theme($dark-theme);
}