<div class="carousel">
  <ul class="slides">
    <li *ngFor="let image of images" [@flyInOut]="state">
        <button mat-fab class="buttonLeft" [@flyInOut]="state" (click)="previmg()"><mat-icon>keyboard_arrow_left</mat-icon></button>

        <a href={{image.url}}><img width="500" alt="Sotutors Logo" src={{image.state}}></a>
        
        <button mat-fab class="buttonRigth" [@flyInOut]="state" (click)="nextimg()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </li>
  </ul>
</div>
