.carousel{
    overflow:hidden;
}
.slides{
    list-style:none;
    position:relative;
    // width:500%;
    overflow:hidden; /* Clear floats */
}
.slides > li{
    position:relative;
    float:left;
    width: 20%; /* 100 / number of panes */
}

 .buttonLeft {
   top: 307px;
 }

 .buttonRigth {
     
     left: 440px;
     bottom: 252px;
  }
   
button[mat-fab] {
    background-color: transparent;
    color: blue;
}