<mat-card>
  <div class="general-data" fxLayout="row" fxLayoutAlign="space-around start">
    <div fxFlex="70" fxLayout="row" class="content-view">
        <!-- <img width="160px" height="200px" [src]="profile.img" alt="Profile of tutor"> -->
        <img [src]="profile.img" alt="Profile of tutor">
        <div fxFlexAlign="end" class="description">
            <h2>{{profile.name}} <span> <img class="flag" src="../../assets/usa_flag.png" alt="Country Flag"> </span></h2>
            <h4>{{profile.city}}</h4>
            <h5>&nbsp;</h5>
            <p> <span class="indicator">Tutor in:</span> {{profile.tutorIn}}</p>
            <p><span class="indicator">Speak in:</span> {{profile.speakIn}}</p>
            <p><span class="indicator">{{profile.experience.lessons}}</span> Lessons - <span class="indicator">{{profile.experience.years}}</span> years experience</p>
            <p><span class="indicator">Legal tutor</span>- {{profile.tutorDescription}}</p>
        </div>
    </div>


<!-- Reviews and buttons -->
    <div class="rate" fxFlex="30" fxLayout="column" fxLayoutAlign="space-between center">
      <div fxLayout="row">
        <div class="stars">
            <h1> <span>5.0</span><span><mat-icon>star</mat-icon></span></h1>
            <h3 i18n> 48 reviews </h3>
        </div>
        <div>
            <h1> ${{profile.payRate}} </h1>
            <h3 i18n> per hour </h3>
          </div>
      </div>
      <span class="spacer"></span>
      <div fxLayout="column" class="buttons">
        <button mat-button class="book-tutorial">Book tutorial</button>
        <button mat-button class="send-message">Send a message</button>
      </div>
    </div>

  </div>
    
</mat-card>