.profile-tutor {
  margin: 5%;
}

.general-data {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
      margin: 10px 0 0 20px;
  }
  p {
      font-size: 0.9em;
  }
}

.flag{
  height: 30px;
}

.description{
  height: 320px;
}

.indicator {
  font-weight: bold;
}

.rate {
  // margin-top: 35px;
  height: 300px;
}

.book-tutorial {
  color: white;
  background-color: #448aff;
}

.send-message {
  color: #448aff;
}

.buttons{
  // margin-top: 30%;
}

.spacer {
  flex: 1 1 auto;
}

.mat-button {
  font-size: 18px;
  margin: 5px !important;
  border: solid 1px;
}

.stars {
  span:first-of-type {
      color: #448aff;
      font-size: 25px;
  }
  .mat-icon {
      padding-top: 3px;
      color: #448aff;
      font-size: 25px;
  }
}

.content-view{
  max-height: 300px;
}