body {
    overflow: auto;
  }

  .position{
    position: absolute;
    width: 100%;
    top: 0;
    
    @media only screen and (max-width: 768px) {
      /* For mobile phones: */
      
          width: 235%;
      
    }
  }

  .toolbar-home{
    background-color: transparent;
    opacity: 0.8;
    transition: box-shadow 0.3s;
    color: black;
  }

  .toolbar-home:hover{
    box-shadow: inset 0px 60px 45px -25px;
    opacity: 1;
    color: black;
  }

  .toolbar{
    box-shadow: inset 0px 60px 45px -25px;
  }

  .top-button{
    border-radius: 100px;
    font-size: 16px;
    width: auto;
    color: white;
  }

  .top-button:hover {
    border-radius: 100px;
  }

  ::ng-deep .top-button:focus {
    border-radius: 100px;
    div{
      border-radius: 100px;
    }
  }
  
  ::ng-deep .mat-menu-panel{
    margin-left: 40px;
    margin-top: 40px;
  }
  .toolbar-title {
    padding-right: 20px;
  }
  
  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .clock{
    color: white;
  }

  a{
    color: black;
    text-decoration: none;
    margin-right: 15px;
    font-size: 15px;
  }

a:hover{
  color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #ffffff;
}

.router-link-active {
  color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #ffffff;
}