<!--Toolbar.-->
<div [ngClass]="{'position': homeStyle===true}">
  <mat-toolbar [ngClass]="{'toolbar-home': homeStyle===true , 'toolbar': homeStyle===false}">

    <mat-toolbar-row>
      <img width="180" style="cursor: hand; cursor:pointer;" alt="Sotutors Logo" src="../../assets/logo_Sotutor.png" routerLink="/homepage">
      <span>
        <button mat-button class="top-button" aria-label="FindTutors" i18n routerLink="/test">
          FIND TUTORS
        </button>
      </span>


      <span *ngIf="homeStyle===true">
        <button mat-button class="top-button" aria-label="BecomeTutor" i18n routerLink="/become-tutor">
          BECOME A TUTOR
        </button>
      </span>

      <span class="toolbar-spacer"></span>

      <button mat-button class="top-button" [matMenuTriggerFor]="languageMenu">
        <span i18n>{{language}}</span>
      </button>
      <mat-menu class="top-menu-panel" #languageMenu="matMenu">
        <button mat-menu-item [disabled]=spanishSelected (click)=spanishLanguage()>
          <span i18n>SPANISH</span>
        </button>
        <button mat-menu-item [disabled]=englishSelected (click)=englishLanguage()>
          <span i18n>ENGLISH, USD</span>
        </button>
      </mat-menu>

      <button mat-icon-button *ngIf="login===true" class="top-button" [matMenuTriggerFor]="loginMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #loginMenu="matMenu">
        <button mat-menu-item routerLink="/settings/account">
          <mat-icon>settings</mat-icon>
          <span i18n>Settings</span>
        </button>
        <button mat-menu-item routerLink="/my-tutorials">
          <mat-icon>account_circle</mat-icon>
          <span i18n>My Lessons</span>
        </button>
        <button mat-menu-item routerLink="/my-requests">
          <mat-icon>offline_pin</mat-icon>
          <span i18n>My Requests</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span i18n>Sign Out</span>
        </button>
      </mat-menu>

      <!-- <button *ngIf="login===true" mat-button class="top-button" (click)="logout()">
            LOGOUT
         </button> -->
      <button *ngIf="login===false" mat-button class="top-button" routerLink="/login">
        LOGIN
      </button>
    </mat-toolbar-row>

  </mat-toolbar>
  <mat-toolbar color="primary" *ngIf="login && !homeStyle">
    <mat-toolbar-row>
      <span>
        <a class="routing" routerLink="/my-requests" routerLinkActive="router-link-active" i18n>
          MY REQUESTS
        </a>
      </span>
      <span>
        <a class="routing" routerLink="/my-tutorials" routerLinkActive="router-link-active" i18n>
          MY LESSONS
        </a>
      </span>
      <span>
        <a class="routing" routerLink="/settings/account" routerLinkActive="router-link-active" i18n>
          SETTINGS
        </a>
      </span>
      <span class="toolbar-spacer"></span>
      <mat-icon class="clock" style="font-size: 40px; margin-bottom: 15px;">access_time</mat-icon>
      <h5 class="clock" style="padding-left: 30px;">{{time | date: 'HH:mm'}}</h5>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<app-question-bar fxLayoutAlign="end center"></app-question-bar>
<router-outlet></router-outlet>
