@import '~@angular/material/_theming';
@import "../../../assets/css/app-theme.scss";

  .container-open {
    width: 220px;
    height:105%;
    position: fixed; 
    top: 0px;
    box-shadow: 0px 0px 8px 2px #888888;
     button {
      // background-color: mat-color($app-primary);
    }
    @media only screen and (max-width: 768px) {
      /* For mobile phones: */
      top: -100px;
      margin-top: 10%;
      width: 100%;
      height: 100%;
    } 
  }

  .container-closed {
    width: 100px;
    position: fixed;
  }

 
  
   .open-button-es {
     align-items: right;
     justify-content: right;
     transform: rotate(-90deg);
     position: fixed; 
     align-self: center;
     right: -25px;
     top: 200px;
   }

   .open-button-en {
    align-items: right;
    justify-content: right;
    transform: rotate(-90deg);
    position: fixed; 
    align-self: center;
    right: -35px;
    top: 200px;
  }

  .open-button-en button {
    background-color: mat-color($app-primary);
    margin-top: 30px;
    font-size: 70%;
    border-radius: 10px;
    color: white;
    }

    .open-button-es button {
      background-color: mat-color($app-primary);
      margin-top: 30px;
      font-size: 70%;
      border-radius: 10px;
      color: white;
      }
