<mat-drawer-container [@flyInOut]="showFiller" [ngClass]="{'container-open': showFiller, 'container-closed': !showFiller}">
    <mat-drawer #drawer mode="side" position="end">
        <div class="inputs">
            <mat-form-field>
                 <input matInput placeholder="Your Name" >
            </mat-form-field>
            <mat-form-field>
                    <input matInput placeholder="Your Email" >
               </mat-form-field>  
             <mat-form-field>
                <textarea matInput placeholder="Question"></textarea >
             </mat-form-field>
         </div>
        <div>
            <button type="button" mat-raised-button color="primary" (click)="drawer.toggle(); showFiller = !showFiller" i18n>
                SEND
             </button>
             <button type="button" mat-raised-button color="primary" (click)="drawer.toggle(); showFiller = !showFiller" i18n>
                CLOSE
            </button>
        </div>
    </mat-drawer>
    <div [ngClass]="{'open-button-es': language==='es', 'open-button-en': language!=='es'}" *ngIf="!showFiller">
        <button type="button" mat-raised-button color="accent" (click)="drawer.toggle(); showFiller = !showFiller" i18n>
          HAVE A QUESTION?
        </button>
</div>
</mat-drawer-container>
