<mat-card class="primary-card">
    
  <mat-card-title i18n>
    Notification Center
  </mat-card-title>
  
  <hr>

  <mat-card-content class="content" fxLayout="column">

    <mat-checkbox color="primary" [(ngmodel)]="smsNotification" i18n><h3 class="label">SMS NOTIFICATIONS</h3>Get notified when new tutor send you a message</mat-checkbox>

    <mat-checkbox color="primary" [(ngmodel)]="systemNotification" i18n><h3 class="label">SYSTEM NOTIFICATIONS</h3>Notifications and reminders about payments and lessons</mat-checkbox>

    <mat-checkbox color="primary" [(ngmodel)]="webUpdatesNotification" i18n><h3 class="label">WEBSITES UPDATES</h3>Products Updates, helpful tips and offers</mat-checkbox>

    <mat-checkbox color="primary" [(ngmodel)]="QANotification" i18n><h3>NOTIFICATIONS FROM Q&A SECCION</h3></mat-checkbox>

    <mat-checkbox color="primary" [(ngmodel)]="blogNotification" i18n><h3>WEEKLY ARTICLES FROM SOTUTORS BLOG</h3></mat-checkbox>

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button class="save-button" color="primary">Save Settings</button>
    <button mat-button class="unsubscribe-button" style="border-style: double;" color="warn" >Unsubscribe from all</button>
  </mat-card-actions>

</mat-card>