<div fxLayout="row">
 
  <mat-card class="options">
    <mat-card-title i18n>
      Settings
    </mat-card-title>
    <mat-card-content fxLayout="column">
      <button class="options-buttons" mat-button routerLink="/settings/account" routerLinkActive="active-link"><span i18n>ACCOUNT</span>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <button class="options-buttons" mat-button routerLink="/settings/changePassword" routerLinkActive="active-link"><span i18n>CHANGE PASSWORD </span>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <button class="options-buttons" mat-button routerLinkActive="active-link"><span i18n>LESSONS</span>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <button class="options-buttons" mat-button routerLink="/settings/notifications" routerLinkActive="active-link"><span i18n>NOTIFICATIONS</span>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
  </mat-card-content>
  </mat-card>
 
  <router-outlet></router-outlet>

</div>