.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 0 3px 0 rgb(0, 0, 0), 0 0 3px 0 rgba(0, 0, 0, 0.1), 2px 2px 0px 0px rgba(0,0,0,.12);
}
.options{
    max-height: 214px;
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin: 3% 2% 0 15%;
    mat-card-title{
        padding-left: 10px;
     
    }
    :last-child{
        border-radius: 10px; 
        border-radius: 0 0 10px 10px;
    }
}

.active-link{
    background-color: cyan;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .options{
        width: 315px;
        margin: 3% 2% 0 5%;
    }
}


@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    .options{
        width: 315px;
        margin: 3% 2% 0 5%;
    }
}

.options-buttons{
    box-shadow: 0 0 3px 0;
    span{
        float: left;
        text-align: left;
    }
    
    mat-icon{
        float:right;
        text-align:right;
        padding-top: 5px;
    }
    
}
