<div>
    <app-question-bar fxLayoutAlign="end center"></app-question-bar> 
  <mat-card class="first-card">
    <mat-card-title>
      <h4 i18n>My Lessons</h4>
      <hr>
    </mat-card-title>
    <div class="titles">
      <div class="columns" fxLayout="row" fxLayoutAlign="space-around">
          <h5 i18n>TUTORS</h5>
          <h5 i18n>PREPAID <mat-icon class="help-icon">help</mat-icon></h5>
          <h5 i18n>PRICE PER HOUR</h5>
          <h5 i18n>ACTIONS</h5>
      </div>
      <hr>
    </div>

          <div>
              <mat-accordion>

                  <mat-expansion-panel class="expansion-panel" *ngFor="let lesson of lessonsArray" hideToggle="true">
                    <mat-expansion-panel-header>
                      <mat-icon>keyboard_arrow_down</mat-icon>
                      <img class="tutor-image" src="{{lesson.image}}" alt="tutor-image">
                      {{lesson.tutorName}}
                      <span *ngIf="!!lesson.prepaid" class="prepaid">
                        {{lesson.prepaid.hours}} hs <span *ngIf="!!lesson.prepaid.minutes">, {{lesson.prepaid.minutes}} min</span>
                      </span>
                      <span *ngIf="!lesson.prepaid" class="prepaid">
                         No prepaid Lessons
                      </span>
                      <span class="price">
                          {{lesson.pricePerHour}} {{lesson.currency}}
                      </span>
                     
                      <div class="actions" fxLayout="row" fxLayoutAlign="space-around">
                        <span class="spacer" [ngClass]="{'sp-3': lesson.actions.length<2, 'sp-2': lesson.actions.length<3}"></span>
                        <div class="button" *ngIf="actionAvailable(lesson, 'messages')" (click)="testing(lesson)">
                            <mat-icon class="icon">sms</mat-icon>
                            Messages
                        </div>
                        <div class="button" *ngIf="actionAvailable(lesson, 'curriculum')">
                            <mat-icon>assignment</mat-icon>
                            Curriculum
                        </div>
                        <div class="button" *ngIf="actionAvailable(lesson, 'buy hours')">
                            <mat-icon>access_time</mat-icon>
                            Buy hours
                        </div>
                        <div class="primary-button"*ngIf="actionAvailable(lesson, 'schedule-lesson')">
                          <button mat-button>
                            Schedule Lesson
                          </button>
                        </div>
                      </div>
                    </mat-expansion-panel-header>
                
                    <ng-template matExpansionPanelContent>
                        Some deferred content
                    </ng-template>
                
                  </mat-expansion-panel>
                
                </mat-accordion>
          </div>
          <mat-card-footer *ngIf="lessonsArray.length <= 0">
              <h5 style="margin-left: 5%;" i18n>UNFORTUNATELY, YOU DO NOT HAVE ANY TUTORIAL YET.</h5>
          </mat-card-footer>
  </mat-card>

</div>
