 .first-card{
    width: 70%; 
    margin: auto;
    margin-top: 5%;
    margin-bottom: 20%;
    border-radius: 10px;
    box-shadow: 0 0 5px 0;
    mat-card-title{
        margin: -5% 15px 0 15px;
        h4{
            margin-bottom: 15px;
        }
    }
}

.first-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 80px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 2px 5px 0 rgba(0,0,0,.12);
}

.message-card{
    width: 70%; 
    margin: auto;
    margin-top: 0.5%;
    margin-bottom: 20%;
    border-radius: 10px;
    box-shadow: 0 0 5px 0;
}

.message-card:not([class*=mat-elevation-z]) {
    text-align: center;
    box-shadow: 0 3px 30px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 2px 5px 0 rgba(0,0,0,.12);
}

.expansion-panel{
    box-shadow: none !important;
}

.titles{
    margin-left: 15px;
    margin-right: 15px;
    .columns{
        h5{
            margin:0;
        }
    }
}

.help-icon{
    font-size: 17px;
}

.tutor-image{
    border-radius: 50px;
    width: 5%;
    height: 5%;
}

::ng-deep .mat-content{
    align-items: center;
}

.price{
    position: absolute;
    margin-left: 53%;
}

.message-button{
    color: #448aff;
    .icon{
        transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
    }
}

.button{
    color: #448aff;
    margin-right: 5px;
}

.actions{
    position: absolute;
    margin-left: 63%;
}

.prepaid{
    position: absolute;
    margin-left: 30%;
}

.sp-2{
    width: 100px;
}

.sp-3{
    width: 200px;
}