.primary-card{
    padding: 24px 0 50px 0;
    border-radius: 10px;
    margin: 5% 0 20% 0;
    
    .mat-card-title{
        margin-left: 4%;
    }
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 1px -1px 20px -2px rgba(0,0,0,.2), 1px 0px 15px 0 rgba(0,0,0,.14), 1px 1px 20px 0 rgba(0,0,0,.12);
}

.label{
    margin: 25px 0 0 0;
}

.form-account{
    margin: 7% 0 7% 0%;
    width: 200%;
}

.content{
    margin: 25px 210px 20px 60px;
    
    .mat-checkbox{
        margin: 2% 0;
    }
}

.form-div-input {
     margin: 2% 10% 0 0;
     input{
        height: 30px;
        border-radius: 5px;
     }
}

.mat-icon{
    font-size: 20px;
    cursor: pointer; 
    margin: 0 10% 0 2%;   
}

.save-button{
    margin-left: 40% !important;
}

h5{
    margin-top: 2%;
}