<mat-card class="primary-card">
    
    <mat-card-title i18n>
      Change Password
    </mat-card-title>
    
    <hr>
  
    <mat-card-content class="content" fxLayout="column">
        <form #formPassword="ngForm" class="form-account">

                        <!-- New Password Input -->
            <div fxLayout="row" fxLayoutAlign="center" class="form-div-input">
                <h5 fxFlex="20" i18n>New Password</h5>
                <input fxFlex="70" [type]="showPassword">
                <mat-icon (click)="toggleViewPassword()">remove_red_eye</mat-icon>
            </div>

                    <!-- New Password Input -->
            <div fxLayout="row" fxLayoutAlign="center" class="form-div-input">
                <h5 fxFlex="20" i18n>Verify Password</h5>
                <input fxFlex="70" [type]="showCPassword">
                <mat-icon (click)="toggleViewCPassword()">remove_red_eye</mat-icon>
            </div>


        </form>
  
    </mat-card-content>
  
    <mat-card-actions>
      <button mat-raised-button class="save-button" color="warn">Save Settings</button>
    </mat-card-actions>
  
  </mat-card>