<div class="foot">
  <div class="general-info">
    <div fxLayout="space-evenly center">
      
      <div fxLayout="column" fxFlex="25">
          <h4 i18n>About us</h4>
          <p i18n>Help</p>
          <p i18n>How it works</p>
          <p i18n>Scholarship</p>
          <p i18n>Education partners</p>
          <p i18n>We are hiring!</p>
          <p i18n>Sotutors Blog</p>
          <p i18n>Media Kit</p>
          <p i18n>Status</p>
      </div>
      <div fxLayout="column" fxFlex="25">
          <h4 i18n>Learn</h4>
          <p i18n>Questions and Answers</p>
          <p i18n>Find a private tutor</p>
          <p i18n>Sitemap</p>
          <p i18n>Affilate program</p>
          <p i18n>Referral program</p>
          <p i18n>Enterprise</p>
      </div>
      <div fxLayout="column" fxFlex="25">
        <h4 i18n>Job offers</h4>
        <p i18n>Become a tutor</p>
        <p i18n>Tutoring jobs</p>
      </div>
      <div fxLayout="column" fxFlex="25">
      </div>
    </div>

    <hr>

    <div fxLayout="space-evenly center">
      
        <div fxLayout="column" fxFlex="25">
            <h4 i18n>Support</h4>
            <p i18n>Need any help</p>
            <p i18n>support@sotutors.com</p>
        </div>
        <div fxLayout="column" fxFlex="25">
            <h4 i18n>Contacts</h4>
            <p i18n>USA</p>
            <p i18n>1371 Beacon Street, Suite 301</p>
            <p i18n>Brookline, MA, 02446</p>            
        </div>
        <div fxLayout="column" fxFlex="25">
          <h4 i18n>Sotutors social</h4>
          <p i18n><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</p>
          <p i18n><i class="fa fa-youtube-play" aria-hidden="true"></i>Youtube</p>
          <p i18n><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</p>
        </div>
        <div fxLayout="column" fxFlex="25">
            <h4 i18n>Review</h4>
            <div class="stars" fxLayout="row">
                <mat-icon  class="gold" *ngFor="let star of starsGold">star</mat-icon>
                <mat-icon  *ngFor="let star of starsNoGold">star</mat-icon>
            </div>
            
            <p i18n>Sotutors.com has an average rating of 8.9/10 by</p>
            <p i18n>1113 members on trustpilot.com</p>
        </div>
      </div>
  </div>

<div class="content">
    <div fxLayout="space-evenly center">
      
        <div fxLayout="column" fxFlex="25">
            <h5 i18n>Popular subjects</h5>
            <p i18n>Math tutors Algebra Tutors Biology tutors</p>
            <p i18n>Chemistry tutors Physics tutors</p>
        </div>
        <div fxLayout="column" fxFlex="25">
            <h5 i18n>Native speakers</h5>
            <p i18n>Los Angeles, CA Sydney Vancouver</p>
            <p i18n>London UK Toronto New York City, NY</p>
            <p i18n>Liverpool English native speakers</p>            
        </div>
        <div fxLayout="column" fxFlex="25">
          <h5 i18n>Popular Languages</h5>
          <p i18n>English tutors German tutors Russian tutors</p>
          <p i18n>French tutors Spanish tutors Chinese tutors</p>
          <p i18n>Japanese tutors Portuguese tutors</p>
          <p i18n>Polish tutors Arabic tutors Italian tutors</p>
        </div>
        <div fxLayout="column" fxFlex="25">
            <h5 i18n>Popular language tests</h5>
            <p i18n>FCE HSK BEC DELE TOEFL DELF</p>
            <p i18n>GMAT IELTS DALF TestDaF</p>
        </div>
      </div>
</div>

<!-- <div fxLayout="row" class="contact-icons">
    <div fxLayout="row" fxFlex="70">
        <h6 i18n>FOLLOW US</h6>
        <a href="http://facebook.com/" target="blanck" style="text-decoration: none; color: black">
          <button mat-icon-button>
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </button>
        </a>
        <a href="http://twitter.com/" target="blanck" style="text-decoration: none; color: black">
          <button mat-icon-button>
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </button>
        </a>
        <a href="http://linkedin.com" target="blanck" style="text-decoration: none; color: black">
          <button mat-icon-button>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </button>
        </a>
        <a href="http://whatsapp.com/" target="blanck" style="text-decoration: none; color: black">
          <button mat-icon-button>
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
          </button>
        </a>
        <a href="http://gmail.com/" target="blanck" style="text-decoration: none; color: black">
          <button mat-icon-button>
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </button>
        </a>
    </div>
    <div fxLayout="row" fxFlex="30">
        <h6 fxFlex="40" i18n>DOWNLOAD MOBILE APP</h6>
        <a href="" style="text-decoration: none;"><mat-icon fxFlex="10">font_download</mat-icon></a>
        <a href="" style="text-decoration: none;"><mat-icon fxFlex="10">file_download</mat-icon></a>
    </div>

</div> -->
</div>


