
.foot{
    color: white;
}

.gold{
    color: rgb(239, 202, 46);
}

hr{
    opacity: 0.6;
    margin-bottom: 1%;
    margin-top: 3%;
}

.general-info{
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(5, 134, 212);
    padding-bottom: 2%;
    padding-top: 1%;
    p{
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 6px;
        font-weight: 500;
    }
}
.stars{
    margin-bottom: 6px;
}

.fa{
    margin-right: 8px;
}

.content{
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(5, 108, 212);
    padding-bottom: 5%;
    padding-top: 2%;
    p{
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 6px;
        font-weight: 500;
    }
    h5{
        margin-bottom: 12px;
    }
}
