/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body { 
  /* font-family: Roboto, Arial, sans-serif; */
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    body{
      width: 234%;
      background-size: 234%;
    }
}

/* Material icon style*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/materialicons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(assets/fonts/materialicons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(assets/fonts/materialicons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(assets/fonts/materialicons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
 font-family: 'Material Icons';
 font-weight: normal;
 font-style: normal;
 font-size: 24px;  /* Preferred icon size */
 display: inline-block;
 line-height: 1;
 text-transform: none;
 letter-spacing: normal;
 word-wrap: normal;
 white-space: nowrap;
 direction: ltr;

 /* Support for all WebKit browsers. */
 -webkit-font-smoothing: antialiased;
 /* Support for Safari and Chrome. */
 text-rendering: optimizeLegibility;

 /* Support for Firefox. */
 -moz-osx-font-smoothing: grayscale;

 /* Support for IE. */
 font-feature-settings: 'liga';
}

.mat-autocomplete-panel {
 max-width: none !important;
}

.primary-button {
  color: white;
  background-color: #448aff;
}

.spacer {
  flex: 1 1 auto;
}

