<div class="principal">

    <!-- Initial Text -->
    <div class="initial-text">

        <h3 class="text1">
            Learn anything faster <span>with the</span>
        </h3>
        <h3 class="text1">
                world's best one-on-one online tutors
        </h3>
  
    </div>
    <!-- Search-Bar -->

    <app-search-bar></app-search-bar>

    <!-- Option-Button -->

    <button mat-button   class="option-icon"><mat-icon>more_horiz</mat-icon></button>



    <!-- Professions Table -->


    <div>
    <mat-card class="professions-table">
        <mat-card-title i18n>
            PROFESSIONS
        </mat-card-title>

        
                <mat-grid-list cols="4" rowHeight="150px">
                        <mat-grid-tile *ngFor="let profession of professions">
                            <img src={{profession.img}}>
                            <h3>{{profession.title}}</h3>
                        </mat-grid-tile>
                </mat-grid-list>

    </mat-card>
    </div>
</div>
<mat-accordion>
    <mat-expansion-panel class="extra-panel" hideToggle="true" (click)="panel= !panel">
    <mat-expansion-panel-header *ngIf="!panel" style="opacity: 0.5;" i18n>
         <mat-icon>keyboard_arrow_down</mat-icon>Show more
    </mat-expansion-panel-header>
    <mat-expansion-panel-header *ngIf="panel" style="opacity: 0.5;" i18n>
        <mat-icon>keyboard_arrow_up</mat-icon>Show less
    </mat-expansion-panel-header>
    <mat-grid-list cols="4" rowHeight="150px" >
        <mat-grid-tile *ngFor="let profession of leftprofessions">{{profession}}</mat-grid-tile>
    </mat-grid-list>

  </mat-expansion-panel>
</mat-accordion>
<!-- <hr> -->


<!-- HOW ITS WORKS -->

<h1 style="text-align:center; margin-top: 6%; margin-bottom: 3%">HOW ITS WORKS</h1>

<div class="icons-list" fxLayout="row" fxLayoutAlign="space-around center" >
<div class="icons">
    <img width="200px" height="200px" alt="Sotutors Logo" src="../../assets/compass.jpg">
    <h3>SEARCH</h3>
    <p>Post a job to tell us about your <br>project. We'll quikly match <br>you with the right <br>freelancers.</p>
</div>
<div class="icons">
    <img width="200px" height="200px" alt="Sotutors Logo" src="../../assets/suitcase.jpg">
    <h3>CONSUL</h3>
    <p>Browse profile, reviews, and <br>proposal then interview top <br>candidates.
         Hire a favorite <br>and begin your project.</p>
</div>
<div class="icons">
    <img width="200px" height="200px" alt="Sotutors Logo" src="../../assets/computerGear.jpg">
    <h3>LET'S DO IT</h3>
    <p>Use the Sotutors platform to chat,
            <br>share files, and collaborate <br>from your desktop or <br>on the go. 
    </p>
</div>
<div class="icons">
    <img width="200px" height="200px" alt="Sotutors Logo" src="../../assets/coin.jpg">
    <h3>GIVE MY MONEY</h3>
    <p>Invoicing and payments happen <br>through Sotutors.
        With Sotutors <br>Protection, only pay for work <br>you authorize
        </p>
</div>

</div>

<!-- <hr> -->



<!-- Youtube or Carousel-Component -->
<div class="stories">
    <h1 i18n>CHECK OUR SUCCES STORIES</h1>
    <h4 style="opacity: 0.4;" i18n>Sotutors has positively impacted the live of thousands of students so far. <br>
    Their stories continue to inspire us every day.</h4>
    <div fxLayout="row" class="carousel-line">
            
        <iframe fxFlex="60" width="500" height="300" 
            src="https://www.youtube.com/embed/RCMXO9sBIcU" frameborder="0" 
            allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
        <!-- <app-carousel></app-carousel> -->
        <!-- <div fxFlex="40" fxLayout="column"> -->
    <div fxFlex="60" fxLayout="column" fxLayoutAlign="center end"  class="text-storie">
        <h3 styles="text-align: right;">
                "Upwork is my primary way of landing clients<br> and growing business.""
        </h3>
        <button mat-button color="accent">See more stories</button>
    </div>  
        <!-- </div> -->
    </div>
</div>

<!-- Service Section -->


<div class="service-section" fxLayout="column" fxLayoutAlign="center">
    <h3 i18n>FIND THE LEVEL OF SERVICE THAT WORKS FOR YOU</h3>
    <div fxFlex="auto">
            <div fxFlex="20" style="text-align:justify;">
                    <p>
                        Each option includes access <br>
                        to Upwork's large pool of  <br>
                        top quality freelancers.<br>
                        Choose the level of service <br>
                        you need. 
                    </p>
            
            </div>
            <div class="box-divition" fxFlex="25">
                    <h3>SOTUTOR</h3>
                    <p>
                            Professional freelancers and the essentials to find them. 
                    </p>
                    <button mat-button color="accent">Sign up for free</button>
            </div> 
            <div class="box-divition" fxFlex="35">
                    <h3>SOTUTOR PRO</h3> 
                    <p>
                            Dedicate support and handpicked talent for your job.
                    </p>
                    <button mat-button color="accent">Learn more</button>
            </div>
            <div class="box-divition" fxFlex="40"> 
                    <h3>SOTUTOR ENTERPRISE</h3>
                    <p>
                            Technology and service customized to fit a company's need.
                    </p>
                    <button mat-button color="accent">Learn more</button>
            </div>
    </div>
    <br/>
    <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
            <mat-panel-title i18n>
                <mat-icon>keyboard_arrow_down</mat-icon>
                Compare Details
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Details of sotutors and sotutors pro</p>
    </mat-expansion-panel>
</div>

<!-- Become a Sotutor-->

<div fxLayout="row">
        <div class="become-sotutor" [ngClass]="{'spanish': language ==='es'}" 
        fxLayout="column" fxFlex="45">
            <h2 i18n="@@become-tutor">BECOME A SOTUTOR</h2>  
            <h3 style="opacity: 0.5;" i18n>Earn Money sharing your knowledge with a stable <br>
                client base. It's quick to sign up and begin <br>
                your tutoring career. 
            </h3>
            <ul style="padding-left: 16px;">
                <li>Acquire new students</li>
                <li>Manage your business</li>
                <li>Earn without hassles</li>
            </ul>
            <div>
                <button mat-button color="accent" routerLink="/become-tutor" i18n="@@become-tutor">BECOME A SOTUTOR</button><!--<span><a href="">HOW OUR PLATFORM WORKS</a></span>-->
            </div>
        </div>
        <img fxFlex="40" alt="Sotutors Logo" src="../../assets/becomesotutor.jpg">
</div>

<hr style = "margin-bottom: 5%;margin-top: 5%; width: 80%;">

