@import '~@angular/material/_theming';
@import "../../assets/css/app-theme.scss";

.principal{
    background-image: url("../../assets/home.jpg");
    background-attachment: local;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 96%;
    background-position-y: -281px;
  }

.initial-text{
    padding: 15% 0 5% 0;
}
  
.text1 {
    margin: 0 60% 0 5%;
    // padding: 10% 0 0 0;
    width: 400px;
    color: white;
}

button {
    margin-top: 1%;
    margin-left: 5%;
    border-radius: 10px;
}

.option-icon {
     font-size: 40px;
    // padding-bottom: 17px;
    // padding-right: 14px;
    color: white;
    padding: 0px 40px 66px 0px;
    height: 35px;
    mat-icon{
        font-size: 70px;
    }
}


.professions-table{
    width: 80%;
    left: 5%;
    box-shadow: 0px -5px 20px 1px #888888 !important;
    border-radius: 25px 25px 0 0;
    margin-top: 2%;
    padding-bottom: 0;
    mat-card-title{
        text-align: center;
    }
}

.extra-panel{
    width: 80%;
    margin-left: 5%;
    border-radius: 0 0 25px 25px;
    box-shadow: 0px -5px 20px 1px #888888 !important;
}

mat-grid-tile {
    box-shadow: 0px 0px 8px 2px #e2e0d9 !important;
    border-width: 1px;
    h3{
        opacity: 0.5;
    }
}

mat-grid-list {
    right: 2.4%;
    width: 104.5%;
    margin-bottom: 4%;
}

.icons-list{
    margin: 50px 0 120px 0;
}

.icons-list div {
    text-align: center;
    margin-bottom: 75px;
    img{
        border-radius: 60px;
    }
}

.icons{
    width: 250px;
    height: 310px;
    p{
        opacity: 0.7;
    }
}

.stories{
    text-align: center;
    iframe{
        margin: 50px;
    }
}
.text-storie{
    text-align: right;
    padding: 0 130px 0 0;
    button{
        width: 170px;
        border-style: solid;
        border-color: gray;
        border-width: 1px;
    }
}

// .carousel-line{
//     display: -webkit-inline-box;
//     div{
//         margin-top: 13%;
//         margin-top: 175px;
//         margin-left: 5%;
//     }
//     h5{
//         max-width: 30%;
//     }
// }

.service-section{
    text-align: center;
    margin: 5%;
    div{
        height: 1;
        padding: 15px;
    }
    button{
        width: 170px;
        border-style: solid;
        border-color: gray;
        border-width: 1px;
        border-radius: 0;
    }
}

mat-action-row{
    margin-right: 100px;
}

::ng-deep .mat-expansion-panel{
    box-shadow: 0 0 -7px -1px;
}

.become-sotutor{
    margin-left: 5%;
    h5{
        max-width: 300px;
    }
    input{
        width: 450px;
        height: 30px;
    }
    div span{
        font-size: 70%;
    }
    button{
        right: 5%;
        width: 170px;
        border-style: solid;
        border-color: gray;
        border-width: 1px;
        border-radius: 0;
    }
}

.spanish{
    button{
        width: 235px;
    }
}

.box-divition{
    box-shadow: 0px 0px 8px 2px #e2e0d9 !important;
    border-width: 1px;
  }